{
    auto_https off
    admin off
}

:4000 {
    reverse_proxy litellm:4000
}

:8080 {
    reverse_proxy open-webui:8080
}

:5678 {
    reverse_proxy n8n:5678
}

:8081 {
    reverse_proxy searxng:8080
}
