{
    auto_https off  # Tailscale handles HTTPS
    admin off
}

# LiteLLM API & UI
:4000 {
    reverse_proxy 172.21.0.3:4000
}

# Open WebUI
:8080 {
    reverse_proxy 172.21.0.5:8080
}

# n8n
:5678 {
    reverse_proxy 172.21.0.2:5678
}

# SearXNG
:8081 {
    reverse_proxy 172.21.0.13:8080
}